In [1]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333

In [3]:
vol(4)

267.94666666666666

In [4]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [5]:
5 in range(0,10)

True

In [6]:
5 in range(0,5)

False

In [7]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [8]:
ran_check(5,2,7)

True

In [9]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range of {low} and {high}')
    else:
        print("not in range")

In [12]:
ran_check(5,2,7)

5 is in range of 2 and 7

In [19]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase+= 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f"origional string: {s}")
    print(f"lowercase count: {lowercase}")
    print(f"uppercase count : {uppercase}")

In [22]:
s ="hello Dilip how are you"

In [23]:
up_low(s)

origional string: hello Dilip how are you
lowercase count: 18
uppercase count : 1

In [25]:
def unique_list(lst):
    x = []
    for number in lst:
        if number not in x:
            x.append(number)
    return x

In [26]:
unique_list([1,2,3,4,5,6,7,8,9,1,1,1,2,2,2,3,3,4,5,5,5,6,6,6,6,7,7])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total*num
    return total

In [28]:
multiply([1,2,4,6,7,-4])

-1344

In [31]:
def palindrome(s):
    s = s.replace('','')
    return s

In [34]:
palindrome("nurserun")

'nurserun'